section {
    padding: 3rem 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

#header {
    background-image: url(images/base.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}

.menu-section {
    background: #333;
    color: #f9f9f9;
}

.menu-section h1 {
    display: block;
    width: 310px;
    max-width: 100%;
    margin: 0 auto 2rem;
    padding-bottom: .75rem;
    text-align: center;
    border-bottom: 3px solid #f9f9f9;
}

.menu-section img {
    max-width: 340px;
    margin: 0 auto;
    display: block
}